@page
@using Microsoft.AspNetCore.Identity
@model IndexModel

@{
    ViewData["Title"] = "Order Management System";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Our Online Shop</h1>
</div>
